/* GLOBAL RESET */
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #0f172a;
  color: white;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 140px;

  width: 100%;
  padding-left: clamp(20px, 5vw, 80px);
  padding-right: clamp(20px, 5vw, 80px);

  box-sizing: border-box;
}