body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.song-card {
  background: #222;
  padding: 20px;
  margin: 20px auto;
  width: 250px;
  border-radius: 10px;
}

.song-card img {
  width: 100%;
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}