/* Background */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* Card */
.login-card {
  background: #1e293b;
  padding: 40px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

/* Heading */
.login-card h2 {
  margin-bottom: 20px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #334155;
  color: white;
}

/* Button */
.login-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-card button:hover {
  background: #0ea5e9;
}